html {
  background-color: #222930 !important;
}
body {
  height: 100%;
  font-family: "Cantarell";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #eeeeee;
}

* {
  padding: 0;
  margin: 0;
}

h2 {
  font-family: "Cinzel Decorative", cursive;
  font-weight: 900 !important;
  font-size: 1.5em !important;
}

h1 {
  font-family: "Cinzel Decorative", cursive;
  font-weight: 900 !important;
  font-size: 2em !important;
  margin: 25px 0 !important;
}

.formLayout {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 55px 70px 0 0;
  background-color: #383e45;
  height: 100%;
  font-weight: bold;
  text-transform: uppercase;
}

.sidebar > a {
  color: #eeeeee;
  padding: 20px;
}

a:hover {
  background-color: rgb(0, 205, 165);
  color: #eeeeee !important;
  text-decoration: none !important;
  border-radius: 0 30px 30px 0;
  padding: 20px;
  box-shadow: rgb(0 205 165 / 24%) 0 8px 16px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.label-request-info {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-around;
  gap: 20px;
}

.label-request {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  position: relative;
  margin-right: 20px;
  color: grey;
}
.status::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: grey;
}

.Succeeded::after {
  background-color: green;
}
.Failed::after {
  background-color: red;
}
.Pending::after {
  background-color: orange;
}

img {
  object-fit: cover;
}

.quest-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

.quest-label > div {
  width: 50%;
  display: flex;
}

.tablist {
  margin-bottom: 20px;
  overflow: hidden;
}

.tablist ul {
  overflow: hidden;
}

.tablist ul li {
  font-family: "Cinzel Decorative", cursive;
  font-weight: 900 !important;
  font-size: 1.5em !important;
}
